.achievements-section {
    background-color: #333; /* Change as needed */
    color: white;
    padding: 50px 0; /* Adjust the padding for spacing */
}

.achievements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    font-size: 100rem;
    margin: 0 auto; /* Center align the container */
    gap: 30px; /* Space between achievement items */
}

.achievement-item {
    flex: 1 1 200px; /* Allows the items to grow and shrink */
    text-align: center;
    font-size: 2.5rem; /* Adjust text size */
    min-width: 150px;
}

.achievement-item p {
    margin-top: 10px;
    font-size: 1rem; /* Adjust label text size */
}

@media (max-width: 768px) {
    .achievement-item {
        font-size: 1.25rem; /* Adjust font size for smaller screens */
    }

    .achievement-item p {
        font-size: 0.9rem; /* Adjust label text size for smaller screens */
    }
}

@media (max-width: 576px) {
    .achievement-item {
        font-size: 1rem; /* Adjust font size for extra small screens */
    }

    .achievement-item p {
        font-size: 0.8rem; /* Adjust label text size for extra small screens */
    }
}
