.container {
    padding: 20px;
}

.logo-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-item img {
    max-width: 150px; /* Increase this value to make the logos larger */
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease;
}

.logo-item img:hover {
    transform: scale(1.1); /* Optional: Adds a slight zoom effect on hover */
}
