.logo-item {
    padding: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.logo-item img {
    max-height: 100px;
    max-width: 150px;
    padding: 10px;
    background-color: #ffffff;
}
